// _variables.scss

// COLORS
$background-page-color: #EBEEF3;
$background-base-color: #FFFFFF;
$main-text-color: #000000;
$success-color: #52C41A;
$info-color: #1890FF;
$error-color: #F5222D;
$heart-color: #FF0707;
$secondary-text-color: #BFBFBF;

// FONT SIZES
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xlarge: 20px;

// FONT WEIGHTS
$font-weight-normal: 400;
$font-weight-medium: 500;
